body, ul {
	padding: 0;
	margin:  0;
}
body {
	font-family: "Didact Gothic";
}
body a {
    color: #0060B6;
    text-decoration: none;
}
body a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
footer {
	background-color: #232323;
	color: #c7c7c7;
	height: 60px;
	padding-top: 2%;
	text-align: center;
}
footer a {
    color: #a7a7a7;
    font-size: small;
    text-decoration: none;
}

footer a:hover 
{
     color:#d7d7d7; 
     text-decoration:none; 
     cursor:pointer;  
}
header {
	background-color: #232323;
	color: #a7a7a7;
	height: 70px;
}
header a {
    color: #f7f7f7;
    font-size: large;
    position: absolute;
    right: 5%;
    top: 30px;
    text-decoration: none;
}

header a:hover 
{
     color:#ffffff; 
     text-decoration:none; 
     cursor:pointer;  
}
img {
	float: left;
    position: relative;
    top: 15px;
    left: 5%;
}
li {
    list-style-type: none;
    text-align: left;
}
select {
    margin-top: 2%;
}
textarea {
    margin-top: 2%;
    width: 100%;
}
.border-error {
    border-color: #FF0000;
}
.error {
    color: red;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear:both;
}
.group {
    zoom: 1;
}
.hidden {
    display: none;
}
#content {
	background-color: rgba(220,220,220,0.5);
	margin: 0 auto 0 auto;
	padding: 3%;
	text-align: center;
	width: 80%;
}
#comment, #notification {
	margin-bottom: 2%;
}
#form {
    width: 70%;
    margin: 0 auto;
}
#main {
	background-color: #f3f3f3;
	padding: 3% 3% 8% 3%;
}
#nav {
	position: relative;
    top: -25px;
    left: 10%;
}
#nav a{
	margin: 0 1% 0 1%;
}
#project-support{
	background-color: rgba(210,210,210,0.5);
    padding: 2%;
    margin: 5%;
}
#project{
	background-color: rgba(240,240,240,0.8);
    margin: 0 auto 0 auto;
    padding: 2%;
    width: 90%;
}
#project p {
    margin-left: 5%;
}
#projects li {
    margin-right: 3%;
    margin-bottom: 2%;
    min-width: 45%;
}
#select-form {
    text-align: left;
}
#submit {
    background-color: lightslategrey;
    border: silver;
    color: white;
    font-size: medium;
    height: 30px;
    margin-bottom: 3%;
    width: 40%;
}
#textarea-form {
    text-align: left;
}
#title {
    text-align: left;
    position: relative;
    top: -20px;
    left: 3%;
}
@media screen and (max-width: 600px) {
    #nav {
        top: -15px;
    }
}